html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.buttons {
  display: flex
}

.button {
  height: 72px;
  width: 20%;
}

.greenButton {
  background-color: #417505;
}

.blueButton {
  background-color: #0076FF;
}

.yellowButton {
  background-color: #F8E71C;
}

.redButton {
  background-color: #D0021B;
}

.rawButton {
  display: flex;
  background-color: #D8D8D8;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
