* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.buttons {
  display: flex
}

.button {
  height: 144px;
  width: 20%;
}

.green {
  background-color: #417505;
  color: white;
}

.blue {
  background-color: #0076FF;
  color: white;
}

.yellow {
  background-color: #F8E71C;
}

.red {
  background-color: #D0021B;
  color: white;
}

.raw {
  background-color: #D8D8D8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.total {
  font-size: 42px;
}

.raw.button:before {
  content: "raw";
}

.users {
  flex: 1;
  overflow-x: auto;
}

.user {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  font-weight: 700;
  width: 40%;
  background-color: #E9FFFA;
  height: 72px;
  color: #9B9B9B;
}

.selected {
  background-color: #50E3C2;
  color: white;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
  font-size: 30px;
  font-weight: 700;
  height: 72px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-right: 8px;
  border-radius: 4px;
  padding: 0 12px;
}
