* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
}

.button {
  height: 4em;
  width: 20%;
  border-radius: 8px;
}

.green {
  background-color: #417505;
  color: white;
}

.blue {
  background-color: #005FCE;
  color: white;
}

.yellow {
  background-color: #E5D400;
}

.red {
  background-color: #DD021D;
  color: white;
}

.raw {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  color: black;
  background-color: #D8D8D8;
}

.total {
  font-weight: 700;
  font-size: 1.25em;
}

.raw.button:before {
  content: "Raw";
}

.users {
  flex: 1;
  overflow-x: auto;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.user:nth-child(odd) {
  background-color: #F8F8F8;
}

.user.selected {
  background-color: #00FFD8;
}

.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75em;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 0.2em;
  border-radius: 0.2em;
  padding: 0 0.5em;
}
